/* src/styles/responsive.css */

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}

/* Fixe navbar lorsqu'elle devient sticky */
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
